$class: warehouse-list;

.#{$class} {
  margin-top: 40px;
  
  .name-column {
    width: 200px;
  }

  .number-of-products-column {
    width: 180px;
  }

  .total-quantity-column {
    width: 100px;
  }
}
